td,tr{
    
    border-radius: 20px;
    padding: 10px;
}

.main{
    width: 60%;
}

table{
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.flex-box-1{
    padding: 5px;
    display: flexbox;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.main{
    margin: auto;
}

button{
    width: 100%;
}

select{
    width: 100%;
}

.right{
    border: 2px solid green;
    border-radius: 3px;	
}

.wrong{
    border: 2px solid red;
    border-radius: 3px;	
}

input{
    border-radius: 3px;
}